$colorAzure: rgb(116, 194, 194);
$colorBlack: black;
@mixin widthHeightMix($widthValue, $heightValue) {
  width: $widthValue;
  height: $heightValue;
}
body {
  background-color: $colorAzure;
}
.forma {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include widthHeightMix(400px, 600px);
  border: solid;
  border-color: $colorBlack;
  border-width: 2px;
  border-radius: 5%;
}
.wardrobe {
  position: absolute;
  padding-left: 105px;
  padding-top: 30px;
  font-size: 30px;
  font-family: monospace;
}
.formaMain {
  top: 50px;
  @include widthHeightMix(400px, 500px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
.name {
  font-size: 20px;
  @include widthHeightMix(200px, 35px);
  background-color: $colorAzure;
  border: none;
  color: $colorBlack;
}
.center {
  padding-left: 130px;
}
.sign {
  position: absolute;
  left: 140px;
  @include widthHeightMix(100px, 40px);
  background-color: $colorBlack;
  border: solid;
}
.signUp {
  position: absolute;
  padding-top: 10px;
  padding-left: 27px;
  text-decoration: none;
  color: $colorAzure;
}
.home {
  position: relative;
  @include widthHeightMix(40px, 40px);
}
.homeGo {
  @include widthHeightMix(40px, 40px);
}
