@import url(media.css);
a {
  color: grey;
  text-decoration: none;
}

.mainHead {
  height: 100px;
  width: auto;
  background-color: black;
  position: relative;
}

.logo {
  position: absolute;
  top: 30px;
  left: 60px;
}

.menu {
  padding-top: 40px;
  padding-right: 70px;
  display: flex;
  gap: 80px;
  flex-direction: row;
  justify-content: flex-end;
}

.tw {
  font-size: 25px;
  color: rgb(116, 194, 194);
  top: 30px;
  left: 70px;
}

.profile,
.faq,
.about,
.contact {
  font-size: 15px;
}

.mainWardrobe {
  height: 300px;
  width: auto;
  background-color: rgb(116, 194, 194);
  position: relative;
}

.wardrobe {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: monospace;
  height: 250px;
  width: 100%;
  position: absolute;
}

.the {
  font-size: 60px;
  position: absolute;
  top: 130px;
}

.mainWelcome {
  height: 500px;
  width: auto;
  position: relative;
  text-align: center;
}

.fon {
  position: relative;
  height: 500px;
  width: auto;
}

.fonPicture {
  height: 500px;
  width: 100%;
}

.welcome {
  height: 500px;
  width: auto;
  position: relative;
}

.welcomeGuest {
  height: 500px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.welcomeDear {
  text-align: center;
}

.welcomeDearmain {
  text-align: center;
}

.welcomeDearmain::first-letter {
  font-size: 50px;
  background-color: rgb(116, 194, 194);
  color: black;
  margin-right: 0.2em;
  padding: 0 0.2em 0.1em 0.2em;
  border-radius: 0.1em;
}

.lineOne {
  width: 100px;
  color: rgb(116, 194, 194);
}

.more {
  border: solid;
  height: 20px;
  width: 70px;
  padding: 7px 23px;
  background-color: rgb(116, 194, 194);
  border-color: rgb(116, 194, 194);
  color: black;
}

.mainUse {
  position: relative;
  height: 700px;
  width: auto;
  background-color: rgb(116, 194, 194);
}

.who {
  font-family: monospace;
  font-size: 50px;
  text-align: center;
  position: relative;
  top: 50px;
}

.gridFirst {
  height: 600px;
  width: 900px;
  position: absolute;
  top: 100px;
  left: 304px;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 2fr;
}

.flexSecond {
  display: flex;
  justify-content: center;
  flex-direction: column;
  grid-column-start: 1;
  grid-column-end: 2;
}

.boy {
  height: 400px;
  width: 360px;
  transition-duration: 1s;
}

.boy:hover {
  transform: scale(1.2);
  transition-duration: 1s;
}

.flexThree {
  display: flex;
  justify-content: center;
  flex-direction: column;
  grid-column-start: 2;
  grid-column-end: 3;
  position: absolute;
  top: 100px;
  left: 50px;
}

.girl {
  height: 400px;
  width: 360px;
  transition-duration: 1s;
}

.girl:hover {
  transform: scale(1.2);
  transition-duration: 1s;
}

.mainDo {
  height: 500px;
  width: auto;
  position: relative;
}

.youdo {
  text-align: center;
  top: 100px;
}

.youdoCan {
  font-family: monospace;
  font-size: 50px;
}

.youdoCan::first-letter {
  font-size: 50px;
  background-color: rgb(116, 194, 194);
  color: black;
  margin-right: 0.2em;
  padding: 0 0.2em 0.1em 0.2em;
  border-radius: 0.1em;
}

.whatdo {
  height: 300px;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  top: 70px;
}

.clothes {
  height: 300px;
  width: 340px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition-duration: 1s;
}

.clothes:hover {
  background-color: rgb(116, 194, 194);
  transform: scale(1.1);
  transition-duration: 1s;
}

.clothesFirst {
  height: 50px;
  width: 50px;
  position: relative;
  top: 20px;
  left: 135px;
}

.collect {
  border: solid;
  color: white;
  border-color: white;
  height: 100px;
  width: 200px;
  padding-top: 20px;
  padding-left: 5px;
  position: relative;
  top: 30px;
  left: 60px;
}

.weather {
  height: 300px;
  width: 340px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition-duration: 1s;
}

.weather:hover {
  background-color: rgb(116, 194, 194);
  transform: scale(1.1);
  transition-duration: 1s;
}

.weatherFirst {
  height: 50px;
  width: 50px;
  position: relative;
  top: 20px;
  left: 135px;
}

.showWeather {
  border: solid;
  color: white;
  border-color: white;
  height: 150px;
  width: 200px;
  padding-top: 20px;
  padding-left: 5px;
  position: relative;
  top: 30px;
  left: 60px;
}

.share {
  height: 300px;
  width: 340px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition-duration: 1s;
}

.share:hover {
  background-color: rgb(116, 194, 194);
  transform: scale(1.1);
  transition-duration: 1s;
}

.shareFirst {
  height: 50px;
  width: 50px;
  position: relative;
  top: 20px;
  left: 135px;
}

.youShare {
  border: solid;
  color: white;
  border-color: white;
  height: 150px;
  width: 200px;
  padding-top: 20px;
  padding-left: 5px;
  position: relative;
  top: 30px;
  left: 60px;
}

.mainGo {
  position: relative;
  height: 400px;
  width: auto;
  display: flex;
  justify-content: center;
}

.go {
  position: absolute;
  top: 100px;
  border: solid;
  height: 155px;
  width: 165px;
  border-width: 1px;
  border-radius: 70%;
  background-color: rgb(116, 194, 194);
}

.goOne {
  position: absolute;
  padding-left: 50px;
  padding-top: 70px;
  color: black;
}

.mainMedia {
  position: relative;
  height: 100px;
  width: auto;
  background-color: rgb(116, 194, 194);
}

.media {
  position: relative;
  top: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.twitter,
.instagram,
.facebook {
  width: 40px;
  height: 40px;
}

/*# sourceMappingURL=style.css.map */
